*{
    box-sizing: border-box;
    margin: 0 auto;
    scroll-behavior: smooth;
}

html {
    background-color: blanchedalmond;
}

body {

}

.main_block {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.notes_style {
    padding: 16px;
    border: inset 6px;
    border-color: rgb(39, 37, 37);
}