.notes_style {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 16px;
    border: inset 6px;
    border-color: rgb(39, 37, 37);
    gap: 16px;
}

.notes_overview{
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.btn_template {
    border-radius: 8px;
    border: 1px solid grey;
    background-color: rgba(0, 0, 0, 0.625); 
    color: white;
}

.template_content {
    display: flex;
    align-items: center;
    gap: 16px;
    width: 320px;
}

.template_content > :nth-child(2) {
    flex-grow: 1;
    text-align: center;
    padding: 0 10px;
    min-width: 0;
}

.template_content button {
    max-height: 16px;
    
}